.s1{
    position: absolute;
    left: 500px;
    top: 200px;
    color: aliceblue;
}
.display-1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.display-4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button{
    padding: 10px 38px;
    background-color: bisque;
    border: none;
    color: black;
}
.div{
    color: burlywood;
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-y: scroll;
}
.button1{
    background-color: aliceblue;
    border: none;
    color: grey;
    padding: 10px 18px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;
}
footer{
    background-color: black;
    text-align: center;
    padding: 3px;
    color: black;
}
.hy{
    color: aliceblue;
}